{% extends 'base.html' %} {% load static %} {% block content %}
<style>
  /* table tr td,
  table tr th {
    background-color: rgba(0, 15, 40, 0.2) !important;
  } */
</style>

<div style="margin-top: 50px;" class="table-wrapper">
  <table class="fl-table">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Date modified</th>
        <!-- <th scope="col">Handle</th> -->
      </tr>
    </thead>
    <tbody>
      {% for article,color in list %}
      <tr class="table-row">
        <th>
          <i class="fa fa-file-pdf" style="font-size: large"></i
          ><a href=""
            ><i
              class="fa fa-download px-2"
              style="font-size: large"
              staria-hidden="true"
            ></i
          ></a>
        </th>
        <td>{{article.title}}</td>
        <td>{{article.date}}</td>
        <!-- <td>@mdo</td> -->
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
