{% extends 'base.html' %} {% block content %} {% if messages %} 
{% for message in messages %}
<div class="alert alert-danger" role="alert">{{message}}</div>
{% endfor %} {% endif %}

<style>
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  :root {
    --purple: hsl(240, 80%, 89%);
    --pink: hsl(0, 59%, 94%);
    --light-bg: hsl(204, 37%, 92%);
    --light-gray-bg: hsl(0, 0%, 94%);
    --white: hsl(0, 0%, 100%);
    --dark: hsl(0, 0%, 7%);
    --text-gray: hsl(0, 0%, 30%);
  }

  body {
    background: var(--light-bg);
    font-family: "Space Grotesk", sans-serif;
    color: var(--dark);
  }

  h3 {
    font-size: 1.5em;
    font-weight: 700;
  }

  p {
    font-size: 1em;
    line-height: 1.7;
    font-weight: 300;
    color: var(--text-gray);
  }

  .description {
    white-space: wrap;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .wrap {
    display: flex;
    /* justify: space-between; */
    align-items: stretch;
    width: 100%;
    gap: 24px;
    padding: 24px;
    flex-wrap: wrap;
  }

  .box {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    position: relative;
    padding: 24px;
    background: #fff;
  }

  .box-top {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 12px;
    margin-bottom: 36px;
  }

  .box-image {
    width: 100%;
    height: 360px;
    object-fit: cover;
    object-position: 50% 20%;
  }

  .title-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .box-title {
    border-left: 3px solid var(--purple);
    padding-left: 12px;
  }

  .user-follow-info {
    color: hsl(0, 0%, 60%);
  }

  .button {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    padding: 16px;
    color: #000;
    background: transparent;
    box-shadow: 0px 0px 0px 1px black inset;
    transition: 0.4s;
    text-decoration: none;
    color: inherit;
  }

  .button:hover {
    background: var(--purple);
  }

  .fill-one {
    background: var(--light-bg);
  }

  .fill-two {
    background: var(--pink);
  }

  /* RESPONSIVE QUERIES */

  @media (min-width: 320px) {
    .title-flex {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;
    }
    .user-follow-info {
      margin-top: 6px;
    }
  }

  @media (min-width: 460px) {
    .title-flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
    }
    .user-follow-info {
      margin-top: 6px;
    }
  }

  @media (min-width: 640px) {
    .box {
      flex-basis: calc(50% - 12px);
    }
    .title-flex {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;
    }
    .user-follow-info {
      margin-top: 6px;
    }
  }

  @media (min-width: 840px) {
    .title-flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
    }
    .user-follow-info {
      margin-top: 6px;
    }
  }

  @media (min-width: 1024px) {
    .box {
      flex-basis: calc(33.3% - 16px);
    }
    .title-flex {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;
    }
    .user-follow-info {
      margin-top: 6px;
    }
  }

  @media (min-width: 1100px) {
    .box {
      flex-basis: calc(25% - 18px);
    }
  }

  .message {
    text-align: center;
    color: #42A5F5;
  }
</style>

<div class="container-fuild mt-4 w-100">
  <h1 class="message">This is product results for your search "{{key}}"</h1>
</div>
<div class="wrap">
  {% for product in theproducts %}
  <div class="box">
    <div class="box-top">
      <img
        class="box-image"
        src="{{product.main_image.url}}"
        alt="Girl Eating Pizza"
      />
      <div class="title-flex">
        <h3 class="box-title">{{product.title}}</h3>
        <p class="user-follow-info">{{product.type.name}}</p>
      </div>
      <p class="description">{{product.text}}</p>
    </div>
    <a
      href="{% url 'seeproduct' product.pk %}"
      style="text-decoration: none; color: inherit"
      class="button"
      >See more details</a
    >
  </div>
  {% endfor %}
</div>

<!-- <div class="container all-contents">
  <div class="contents">
    {% for pro in theproducts %}
    <div class="card mb-3">
      <img
        src="{{pro.main_image.url}}"
        class="card-img-top"
        alt="{{pro.text}}"
      />
      <div class="card-body">
        <h5 class="card-title">{{pro.title}}</h5>
        <p class="card-text">{{pro.text}}</p>
      </div>
    </div>

    {% endfor %} -->

<!-- <div class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">
        This is article results for your search "{{key}}"
      </h1>
      <p class="lead my-3">
        Multiple lines of text that form the lede, informing new readers quickly
        and efficiently about what’s most interesting in this post’s contents.
      </p>
      <p class="lead mb-0">
        <a href="#" class="text-white fw-bold">Continue reading...</a>
      </p>
    </div>
  </div>
  <div class="row mb-2">
    {% for product in theproducts %}
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div> -->
{% endblock %}
